<% layout("/layouts/boilerplate") %>


<body>
    

  <div class="form-full-body">
    <div class="form-container">
    <h2 style="font-size: 1.3rem;">Edit Listing</h2>
    <form class="form needs-validation" method="POST" novalidate action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">

      <div>
        <label class="form-label" for="title">Title</label>
        <input
          value="<%= listing.title %>"
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Enter listing title"
          required
          maxlength="100"
          class="form-control"
        />

      </div>
      

      <div>
        <label class="form-label" for="description">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          placeholder="Enter listing description"
          class="form-control"

          
          required
        ><%= listing.description %></textarea>
        
      </div>
      <div class="row edit-image-div">
        <div class="col-sm -8">
          <label class=" form-label" for="description">Add new image(optional)</label>
          
          <input
            type="file"
            id="image-url"
            name="listing[image]"
            placeholder="New image link"
            
            
            class="form-control"

          />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Entre valid Image url</div>

          
          
        </div>
        <div class="col-sm-4 edit-preview-image-div">
          <h6>Previos image</h6>
          <img class="edit-preview-image" src="<%= originalImage %>" alt="" style="height: 3rem;">

        </div>

      </div>

      

      
      <div class="row">
        <div class="col-sm-4">
          <label class="form-label" for="price">Price (INR)</label>
          <input
            
            type="number"
            id="price"
            name="listing[price]"
            placeholder="Enter price in INR"
            min="0"
            step="1"
            required
            class="form-control"
            value="<%= listing.price %>"


          />
        
        </div>


        <div class="col-sm-8">
          <label class="form-label" for="country">Country</label>
          <input
            value="<%= listing.country %>"
            type="text"
            id="country"
            name="listing[country]"
            placeholder="Enter Country"
            required
            maxlength="100"
            class="form-control"

          />
        
        </div>


      </div>

      

      <div>
        <label class="form-label" for="location">Location</label>
        <input
          value="<%= listing.location %>"
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Enter location"
          required
          maxlength="100"
          class="form-control"

        />
        
      </div>

      <button type="submit" class="btn-submit btn btn-danger btn-sm">Edit Listing</button>
    </form>
  </div>
  </div>



</body>

